{% extends 'base.html.twig' %}

{% block title %}New RolePermission{% endblock %}

{% block body %}
    <h1>Create new RolePermission</h1>

    {{ include('role_permission/_form.html.twig') }}

    <a href="{{ path('role_permission_index') }}">back to list</a>
{% endblock %}
