{% extends 'base.html.twig' %}
{% block title %}implementation objectif{% endblock %}
{% block page_title %} Implementation {% endblock %}
{% block page_subtitle %} Objectif {% endblock %}
{% block page_content %}

<a href="{{ path('employee_index') }}">back to list</a>
{% endblock %}
