{% extends 'base.html.twig' %}

{% block title %}New Implementation{% endblock %}

{% block body %}
    <h1>Create new Implementation</h1>

    {{ include('implementation/_form.html.twig') }}

    <a href="{{ path('implementation_index') }}">back to list</a>
{% endblock %}
