{% extends 'base.html.twig' %}

{% block title %}Comment{% endblock %}
{% block page_title %} Comment {% endblock %}
{% block page_subtitle %} Details {% endblock %}
{% block page_content %}
{% embed '@AdminLTE/Widgets/box-widget.html.twig' %}
        {% block box_before %}{% endblock %}
        {% block box_body %}
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ comment.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ comment.libelle }}</td>
            </tr>
        </tbody>
    </table>
        {% endblock %}
{% endembed %}
{% endblock %}
