<form method="post" action="{{ path('strategy_digital_delete', {'id': strategy_digital.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ strategy_digital.id) }}">
    <button class="btn">Delete</button>
</form>
