{% extends 'base.html.twig' %}
{% block title %}Customer new{% endblock %}
{% block page_title %} Customer {% endblock %}
{% block page_subtitle %} new {% endblock %}
{% block page_content %}
{% embed '@AdminLTE/Widgets/box-widget.html.twig' %}
                {% block box_before %}{% endblock %}
                {% block box_body %}
    {{ include('customer/_form.html.twig') }}
                {% endblock %}
    {% block box_footer %}

    {% endblock %}

    {% block box_after %}{% endblock %}
{% endembed %}
    <a class="btn btn-warning" href="{{ path('customer_index') }}" data-toggle="tooltip" data-placement="top" title="Back customer"><i class="fa fa-arrow-left"></i></a>

{% endblock %}
