{% extends 'base.html.twig' %}
{% block title %}Customer edit{% endblock %}
{% block page_title %} Customer {% endblock %}
{% block page_subtitle %} edit {% endblock %}
{% block page_content %}

    {{ include('customer_user/_form.html.twig', {'button_label': 'Update'}) }}
<div class="col-md-1">
    <a class="btn btn-warning" href="{{ path('customer_user_index') }}"><i class="fa fa-arrow-left"></i></a>
    </div>
    {{ include('customer_user/_delete_form.html.twig') }}
{% endblock %}
