{% extends 'base.html.twig' %}
{% block title %}Customer-user index{% endblock %}
{% block page_title %} Customer-user {% endblock %}
{% block page_subtitle %} new {% endblock %}
{% block page_content %}
{% embed '@AdminLTE/Widgets/box-widget.html.twig' %}
                {% block box_before %}{% endblock %}
                {% block box_body %}
    {{ include('customer_user/_form.html.twig') }}
                {% endblock %}
    {% block box_footer %}

    {% endblock %}

    {% block box_after %}{% endblock %}
{% endembed %}
    <a href="{{ path('customer_user_index') }}">back to list</a>
{% endblock %}
