{% extends 'base.html.twig' %}

{% block title %}Edit Response{% endblock %}

{% block body %}
    <h1>Edit Response</h1>

    {{ include('response/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('response_index') }}">back to list</a>

    {{ include('response/_delete_form.html.twig') }}
{% endblock %}
