{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}
{% block page_title %} User {% endblock %}
{% block page_subtitle %} new {% endblock %}
{% block page_content %}
{% embed '@AdminLTE/Widgets/box-widget.html.twig' %}
                {% block box_before %}{% endblock %}
                {% block box_body %}
    {{ include('user/_form.html.twig') }}


                {% endblock %}
    {% block box_footer %}

    {% endblock %}

    {% block box_after %}{% endblock %}
{% endembed %}
   {# <a class="btn btn-warning" href="{{ path('user_index') }}"><i class="fa fa-arrow-left"></i>back to list</a>#}
{% endblock %}
